

*, *:before, *:after  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Hind Regular';
  src: url('font/Hind-Regular.ttf');
}

@font-face {
  font-family: 'Hind Light';
  src: url('font/Hind-Light.ttf');
}

@font-face {
  font-family: 'Hind SemiBold';
  src: url('font/Hind-SemiBold.ttf');
}

@font-face {
  font-family: 'Hind Bold';
  src: url('font/Hind-Bold.ttf');
}

:root{
  --header-height: 5rem;

  --HMGreen-dark: #283f29;
  --HMGreen: rgba(45, 108, 53);
  --HMGreenLite: rgba(66, 178, 81, 0.666);
  --HMYellow: rgba(231, 199, 79);
  --HMYellow2: rgb(209, 179, 70);
  --HMYellowDark: rgb(168, 147, 70);
  --HMYellowLite: rgb(237, 219, 154);
  --RouteBG: rgb(230, 228, 207);

  --buttonBorder: rgba(255, 249, 71);

  --transition: all 350ms cubic-bezier(0.220, 1.600, 0.230, 1.605);

  --lightFont: @font-face {
      font-family: 'Hind Light';
      src: url('font/Hind-Light.ttf');
    };
  --medFont:@font-face {
      font-family: 'Hind Medium';
      src: url('font/Hind-Medium.ttf');
    };
  --regFont:@font-face {
    font-family: 'Hind Regular';
    src: url('font/Hind-Regular.ttf');
  };
  --boldFont: @font-face {
    font-family: 'Hind Bold';
    src: url('font/Hind-Bold.ttf');
  };
  --semiBoldFont: @font-face {
    font-family: 'Hind SemiBold';
    src: url('font/Hind-SemiBold.ttf');
  }
  /* -- */
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100vh;
  font-family: 'Hind Regular', sans-serif;
  color: var(--HMGreen-dark);
  overflow-y:hidden;

}

/*  HEADER.JS */

Header{
  z-index: 1000;
  position:fixed;
  top:0;
  width:100%;
  border: 3px solid green;
  padding: 3rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--HMYellow);
  height:var(--header-height);
}

header ~ *{
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
padding: 15rem 2rem 10rem 2rem;
background-size: cover;
background-position: start;
border: 1px solid red;
overflow:auto;

}

.landing-div{
  scrollbar-width: none;
}

.landing-div::-webkit-scrollbar{
  width:0;
  display:none;
}

.form-container {
  scrollbar-width: none;
}

.form-container::-webkit-scrollbar {
  width: 0;
  display: none;
}

/*
height: 100vh;
display:flex;
flex-direction:column;
align-items: center;
padding-top:15rem;
background-image: url(img/background2.jpeg);
background-size: cover;
background-position:start;
border:1px solid red;
overflow: scroll;
*/

button{
  border: 5px solid var(--buttonBorder);
  padding:1rem 2.5rem;
  background-color:var(--HMYellow);
  border-radius: 4rem;
  /* color:var(--HMGreen-dark); */
  font-size: 2em;
  font-weight:bolder;
  transition:var(--transition);
  margin-top: 1rem;
}

.submit{
  padding: .75rem 2.5rem;
  background-color: var(--HMGreenLite);
  margin-top:0
}

.clear{
  background-color: rgba(255, 0, 0, 0.503);
  margin-top: 0;
}

.clear:hover, .clear:active{
  cursor: pointer;
    color: white;
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.292);
}



button:not(.clear):hover, button:not(.clear):active{
  cursor:pointer;
  background-color: var(--HMGreenLite);
  color: white;
  transform: scale(1.1);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.292);
}


h1{
  font-family: 'Hind Bold', sans-serif;
  font-size:4em;
  white-space: nowrap;
  color: var(--HMYellow);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--buttonBorder);
  transform:rotate(-15deg);

  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.292);;
  padding:0;
  margin-bottom:10rem;
}

h2{
  line-height:1.2;
  font-size: 2em;
    margin-bottom: 2rem;
    margin-top: 2rem;
}





.dropdown{
  /* margin-top: 2rem; */
  min-width:8rem;
  width:100%;
  font-size:1.5em;
  padding: 1rem;
  border-radius:.8rem;
  position: relative;
  z-index:1;
  /* border: 3px solid purple; */
  
}



.dropdown:hover{
  cursor:pointer;
}

.dropdown option{
    /* position:absolute; */
    /* top:8rem; */
    color: black;
    border: 2px solid yellow;
    /* z-index: 999; */

}

.custom-dropdown {
  position: absolute;
  top: calc(100% + 20px);
  /* top: 100%; */
  left: 0;
  width: 100%;
  background-color: white;
  border: 2px solid yellow;
  border-radius: 2rem;
  display: none;
  z-index: 999;
  /* Make sure it's on top of everything */
}

/* Show the custom dropdown when .dropdown is focused */
.dropdown:focus .custom-dropdown {
  display: block;
}


nav{
  padding:0;
  position: relative ;
  width:min-content;
  z-index: 200;
}



.hm-link {
  max-width: 70%;
  height: min-content;
  display: flex;
  align-items: center;
}

#toggle {
  width: 50px;
  /* width:100%; */
  height:max-content;
  border: .25px solid var(--HMGreen);
  padding:.5rem;
  border-radius:.5rem;
  transition: all 350ms cubic-bezier(0.220, 1.600, 0.230, 1.605);
}

#toggle:hover{
  cursor: pointer;
  transform:scale(1.2);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.292);
}

#toggle:hover > * {
  height: 5px;
}

#toggle div {
  width: 95%;
  height: 5px;
  background: var(--HMGreen);
  /* background: pink; */
  margin: 4px auto;
  transition: all 150ms;
  /* backface-visibility: hidden; */
}

.on{
  display:block;
  background-color: red;
  

}

#toggle.on .one {
  transform: rotate(45deg) translate(5px, 5px);
  background: white;
}

#toggle.on .two {
  opacity: 0;
}

#toggle.on .three {
  transform: rotate(-45deg) translate(7px, -8px);
  background: white;
}

#menu {
  color: black;
  border: 1px solid var(--HMGreen);
  background-color: var(--HMYellow);
  border-radius: 3px;
  width:100vw;
  
  text-align: center;
  position:fixed;
  z-index: 9999;
  overflow: none;;
  margin-top:1rem;
  /* left:0; */
  right:0;
  transition: all 250ms cubic-bezier(0.220, 1.600, 0.230, 1.605);
}


@media only screen and (min-width: 400px){

  h1{
    font-size: 5em;
  }

#menu:hover {
    transform: scale(1.05) y(1rem);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.409);
  }


}




#menu ul{
  display:flex;
  flex-direction: column;
  /* width:max-content; */
  /* padding: 0; */
  list-style-type: none;

}

#menu ul li{
  /* min-width:max-content; */
  /* max-width:300px; */
  height:max-content;
  border: 1px solid var(--HMGreen);

  height: max-content;
  display:flex;
  justify-content:center;
}

#menu ul li a{
  font-size: 2.5em;
  width: 100%;
  /* border: 5px solid pink; */
  text-decoration: none;;
  color: var(--HMGreen);
  padding: 1rem 2rem;
}

#menu ul li:hover{
  background-color: var(--HMYellowLite)
}

/************* ALL ROUTES UNDER <Header> (see App.js) *************/

/********************* HOME **********************/

.landing-div{
  background-image: url(img/background2.jpeg);
}

.landing-div button{
  margin-top:5rem;
}

.landing-content{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    /* Expand to fill available space within .landing-div */
    min-height: max-content
}


.required p, li{
  font-size:1em;
}

.required li{
  margin-left:1.5rem;
}

.required{
  background-color: rgba(0, 0, 0, 0.821);
  padding: 2rem;
  margin-bottom:7rem;
  font-weight: bolder;
  border-radius: 2rem;
  color: white;
  font-size: 1.25em;
}

.required >*{
  margin-bottom:1.25rem;
}


.landing-div button{
  font-size: 1.2rem;
}


.form-container{
  background-image:url(img/background.jpeg);
  /* padding:2rem; */

} 

form{
  /* margin-top:3rem; */
  border-radius: 1rem;
  padding:2rem ;
  /* margin-bottom: 2rem; */
  /* display: block; */
  width:100%;
  max-width:1200px;


  display:flex;
  flex-direction: column;
  align-items:start;
  justify-content: center;
  gap:1rem;
  background-color: var(--HMYellow);
  /* border: 3px solid green; */
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.409);
  /* padding-bottom:3rem; */
  transition: var(--transition);
  z-index: 0;
}

.FormSection{
  width: 100%;

}

.FormSection label{
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 1rem;
  /* border: 1px solid orangered; */
}

/* RADIO INPUT ALIGNMENT*/
label.city, 
label.currentAddressLabel,
label.currentEmployerLabel {
  margin-bottom:1rem;
  padding-left:5%;
  justify-content:flex-start;

}

label.birthday,
label.hearAbout,
label.driversLicenseNum,
label.driversLicenseExp, 
label.state:not(.landlordLender),
.FormSection3 label:not(.currentAddressLabel),
 .FormSection4 label:not(.currentEmployerLabel),
 .FormSection5 label,
 .FormSection6 label:not(.currentEmployerLabel){
flex-direction:column;
align-items: flex-start;
}





.FormSection1Codes{
  /* border: 1px solid blue; */
  margin-top:2rem;
  margin-bottom: 2rem;
  display:flex;
  flex-direction:column;
  gap:2rem;
}

 .currentAddressLabel{
  padding: .25rem;
}


form:focus-within{
  /* transform:scale(1.05); */
  position:relative;
  /* z-index:0; */
}


.personalFields-2{
  /* border: 3px solid green; */
}


label input, label select{
  width:100%;
}

/* checkboxes */
label input[type=radio]{
  height: 2em;
  width: 2em;
}

input[type=date]{
  /* width:70rem;; */
}


input[name=payAwayEnroll] {
  margin-right: 2rem;
    height: 3rem;
    width: 3rem;
}



.payAwayLabel input{
  
  cursor: pointer;
  /* border: 2px solid red; */
  background-color: blue;;
}




label[for=mortgageLeaseName]{
  /* border: 1px solid blue; */
  flex-direction:row;
}



/* LENDER/LANDLORD */


.landlord-header{
  padding-top:2rem;
  margin-top:2rem;
  border-top: 1px solid var(--HMGreen-dark);
}

label.landlordLender{
  display:flex;
  justify-content: space-between
}

#landlordLenderState{
  border: 1px solid blue;
}

.payAwayLabel{
  
  display:flex;
  /* line-height: */
  font-size: 1.75em;
  align-items:center;
  justify-content: center;
  /* border: 1px solid blue */
  
  /* line-height:1.25; */
}

.payAway-header{
  margin-top:-1rem;;
  margin-bottom:1rem;
}

.creditScoreEst-header{
  margin-bottom:0;
}

.slider{
  width:100%;
}




/* location radio buttons  */

form label::after{
  margin-left: 1rem;
  font-size: 1.5em;
}

.birmingham::after{
  content: "Birmingham";
}

.diberville::after{
  content: "D'Iberville";
}

.douglasville::after{
  content: "Douglasville";
}

.montgomery::after{
  content: "Montgomery"
}


/* current Address radio buttons  */

.yes::after{
  content: "Yes"
}

.no::after {
  content: "No"
}



form input{
  border-radius: .8rem;
  padding: 1rem;
  font-size: 1.5em;
  font-family: 'Hind Light';
  /* border:1px solid purple; */
  
  /* width:max-content; */
  
}





/******************* FORM SECTIONS (label-containing, displayed flex) ******************/

label {
  display:flex;

  flex-direction: row;
  justify-content: space-between;
}



.moveInputs{
  display:flex;
  justify-content: space-between;
  gap:10%;
  width:100%;
}

select[name=moveInDate], select[name=moveOutDate]{
  max-width:590px;
}

.moveInputs input[type=text]{
  /* margin-left:2rem; */
  max-width:6rem;
  text-align:center;
  /* background-color:green; */
}
/* Hourly Rate boxes */
.moveInputs input[name=employerHoursPerWeek],
.moveInputs input[name=employerHourlyRate]{
  max-width:10rem;
  font-size: 2em;
  padding:0;
}

.employerHoursPerWeek h2,
.employerHourlyRate h2{
  font-size:1.75rem;
  font-weight:lighter;
  color:var(--HMGreen-dark)
}



form button{
  padding: .5rem 2rem;
}

form p{
  font-size: 1.5em;
}




.hearAbout{
  margin-top:2rem;
  padding: 0;
  display: flex;
  flex-direction: column;

}

 h3{
  margin-bottom: 1rem;
  font-size: 1.5em;
 }

.promo-label{
  min-width:100%;
}



.datepicker-inputs{
  width:100%;
  display:block;
  transition: var(--transition);
}

.custom-header{
  display:flex;
  flex-direction:column;
  align-items: center;
}


.custom-header input{
  padding: 1rem;
  font-size: 1.5em;
  width:20rem;
  text-align:center;

  border: 1px solid red;
}

.custom-header select:hover{
  cursor: pointer;
  background-color: var(--HMGreenLite);
}

.button-house{
  display:flex;
  align-items:center;
  justify-content: space-evenly;
  padding:1rem;
}

.button-house button{
  margin:0;
}

.button-house span{
  font-size:2em;
}

.react-datepicker__year-option{
  border-bottom:.25px solid black;
  font-size:1.75em;
  padding:1rem;
}

.react-datepicker__year-option a{
  border:10px solid orange;
}

.react-datepicker__year-option:hover{
  background-color: var(--HMGreenLite)!important;
}

.react-datepicker__year-read-view--down-arrow{
  border-color: black !important;
  margin-top:.5rem;
  margin-left: 3rem !important;
  font-size:2em;
  /* border: 1px solid red !important; */
}




.react-datepicker__current-month--hasYearDropdown {
  font-size: 24px !important;
  padding:1rem !important;
}

.react-datepicker__week{
  /* padding:0; */
  margin:0 !important;;
  /* border: .5px solid green; */

}



.employerHourlyRate .moveInputs, .employerHoursPerWeek .moveInputs{

  /* border: 5px solid blue; */
  justify-content: flex-start;
  gap: 2%;

}

.finance-header{
  border-radius: 2rem;
  border: 1px solid black;
  padding:1rem 1rem;
  margin-bottom:2rem;
  background-color:var(--HMYellowLite)
}

.incomeExList{
  list-style-type: none;
  
}

.incomeExList li{
  border-radius: .5rem;
  /* margin-left:5%; */
  padding: 1rem 1rem;
  font-size:1.5rem;
  max-width:max-content;
  background-color: var(--HMGreen);
  margin-bottom:.75rem;
  margin-right:1rem;
  color: white;
  font-weight:100;
  letter-spacing:2px;
}

.incomeExListItem b{
  /* color: red; */
  font-weight:800;
}

.income

.react-datepicker__day {
  /* Example styles to increase font size and height of the calendar days */
  font-size: 19px;
  display:flex;
  align-items: center;
  justify-content: center;

  border-right: .5px solid black;
  border-bottom:.5px solid black;
  margin: 0 !important;
  width: 12vw !important;
  max-width:67px !important;
  min-width:43px !important;
  max-height:67px !important;
  height:12vw !important;

}

.react-datepicker__day-names{
  width:100%;
  /* border: 1px solid purple; */
  display:flex;
  /* justify-content: ; */
  padding: 0;
}

.react-datepicker__day-name {
  /* width:100% !important;  */
  /* border: .5px solid blue; */
  border-top:.5px solid black;
  border-bottom: .5px solid black;

  background-color: var(--HMYellowLite);
  border-right:1px solid black;
  color: var(--HMGreen-dark) !important;
  font-size: 1.5em;
  margin:0 !important;
  width: 12vw !important;
  max-width:67px !important;
  min-width:43px !important;
  max-height:67px !important;
  height: 12vw !important;
  display:flex !important;
  justify-content: center;
  align-items: center;
  font-size:2em
  /* text-align:left; */

}




.react-datepicker__year-read-view--selected-year{
  font-size: 25px;
  
}


/* COLLAPSIBLE SLIDER */

#output{
  /* border: 1px solid blue; */
  margin-top:.5rem !important;
  font-size: 3em;
  color:var(--HMGreen-dark);
  font-weight:600;
}

.FormSection6 p{
  /* margin-left: 5%; */
  margin-bottom: 1rem;
}














